onfiguration/Release:"(3.7.82.82"
Gmright2-configuration/map
Config:clone
   "Pack-6.7.2"
Pack-"1.1.3"
Pack-"2.10"
Pack-"5.9"
   Push: "build"
Push: "command"
Push: "test-complete"
Push: "formatting"
     Config"gmright2-.7.2"
Config-packaging 
Configuration:"generator"$actions 
   
   Butket-Qa/clone/fifii 
Butket-wrote/connection/configuration: {[_push_@active]}configuration 
Gmright.io
Io-push/pull/configuration/master
Pack/wrap:"package"

Pack:net/gmright2 
   Commit:files 
    @jobs
    @build 
    @create 
    @launch 
    @deploy 
    @create_issus 
    @create_repostory
    @comment 
    @quality 
    @map
    @durations 
    @rest
    @console.game
    @butket
    @system 
    @program 
    @tools_files 
    @mmm
